.top-container {
background-color: #E4F9F5;
position: relative;
padding-top: 100px;
}

/* .middle-container {
margin: 100px 0;
} */

/* div {
  background-color: #E4F9F5;
} */
p {
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
.skill-img1 {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.skill-img2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
/* .skill-text1 {
  clear: left;
}
.skill-text2 {
  clear: right;
}*/
h1 {
  margin: 40px auto 40px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.footer-link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px auto;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 35px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.my-img {
  margin-top: 30px;
}

.my_intro {
  width: 30%;
  margin: auto;
}
.pro {
  text-decoration: underline;
}

.paragraph1 {
  font-size: 1.5rem;
  color: #66BFBF;
  font-weight: normal;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.contact-message {
  width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 100px auto 100px; */
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 80px;
  padding-bottom: 18px;
  padding-top: 18px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: none;
  padding-right: none;
}
